html {
    height: 100%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-color: #FFFAF0;
    color:#FFFAF0;
    padding:0;
    margin:0;
    font-family: Helvetica, Sans-Serif;
    height: 100%;
}

#content {

}