body {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #FEFFF1;
}

.picture {
    border: 12px solid #8B8878;
    border-radius: 5px;
    box-shadow:
        4px 5px 6px 4px;
    padding: 30px;
}

a {
    color: black;
}

.description {
    padding: 20px;

}